<%= form_with model: @post do |form| %>
  <div><%= form.label :title %></div>
  <div><%= form.text_field :title, required: true %></div>
  <div><%= form.label :body %></div>
  <div><%= form.text_area :body, required: true %></div>
  <div><%= form.submit "Create Post" %></div>
<% end %>
